pandas
yfinance
transformers
torch
langchain
langgraph
streamlit
python-dotenv
feedparser
numpy>=1.26.4,<3
openai
typer==0.12.3
click==8.1.7
rich==13.7.1
matplotlib>=3.7
pyarrow
streamlit>=1.37


plotly>=5.24
